# Week 13 Review Assignmnet

For the questions below, we're going to refer exclusively to an HHCAPS survey data set that is available in `/data/hhcaps.csv`.  Use whatever commands you want to calculate the information required to get to the answer.  Then, enter your answer in the answers cell as usual.

**NOTE: Enter your answers as string values (inside quotation marks "") even if the answer is actually numeric.**

---
---

In [58]:
import pandas as pd
unplanned = pd.read_csv('Unplanned_Hospital_Visits.csv')

In [60]:
unplanned.shape

(67872, 20)

## #01 - 

How many columns does this file contain?

In [61]:
# Peaking at the data just for our info
unplanned.head()

,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,Measure ID,Measure Name,Compared to National,Denominator,Score,Lower Estimate,Higher Estimate,Number of Patients,Number of Patients Returned,Footnote,Start Date,End Date
0,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,EDAC_30_AMI,Hospital return days for heart attack patients,Average Days per 100 Discharges,424,6.5,-8.1,23.7,406,116,NaN,07/01/2017,12/01/2019
1,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,EDAC_30_HF,Hospital return days for heart failure patients,More Days Than Average per 100 Discharges,904,16.1,1.1,33.1,691,244,NaN,07/01/2017,12/01/2019
2,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,EDAC_30_PN,Hospital return days for pneumonia patients,Average Days per 100 Discharges,503,-7.1,-21.2,8.2,462,117,NaN,07/01/2017,12/01/2019
3,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,OP_32,Rate of unplanned hospital visits after colono...,No Different Than the National Rate,350,12.2,8.6,17.2,Not Applicable,Not Applicable,NaN,01/01/2018,12/31/2020
4,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,OP_35_ADM,Rate of inpatient admissions for patients rece...,No Different Than the National Rate,142,5.9,4.2,8.2,Not Applicable,Not Applicable,NaN,07/01/2020,12/31/2020

In [62]:
# Checking how many unqiue values are contained in each field

# Creating a new dataframe containing the fields and their unique value counts
unique_counts_df = unplanned.nunique().reset_index()

# Renaming columns
unique_counts_df.columns = ["field", "unique_values"]

# Sorting by unique values and printing
unique_counts_df.sort_values("unique_values", ascending = False)

                          field  unique_values
0                   Facility ID           4848
7                  Phone Number           4831
2                       Address           4818
1                 Facility Name           4699
5                      ZIP Code           4433
3                          City           2947
11                  Denominator           2114
6                   County Name           1557
14              Higher Estimate           1428
12                        Score           1238
13               Lower Estimate           1160
15           Number of Patients            962
16  Number of Patients Returned            398
4                         State             56
8                    Measure ID             14
9                  Measure Name             14
10         Compared to National             12
17                     Footnote             11
18                   Start Date              4
19                     End Date              2

In [63]:
# Which field has the most unique values? It's obvious from the dataframe but to do it programmatically I can do this:
unique_counts_df.sort_values("unique_values", ascending = False)["field"][0]

'Facility ID'

## #02 - 

How many different values for State are there in this file?

In [4]:
len(hhcaps['State'].unique())

55

In [5]:
answers['40.2'] = "55"

## #03 - 

Which of those State values has the highest frequency of occurence?

In [6]:
hhcaps.mode()['State'].unique()

array(['TX', nan], dtype=object)

In [7]:
answers['40.3'] = "TX"

## #04 - 

Which of those State values has the best average performance on the `Star Rating for health team communicated well with them` score?

In [8]:
hhcaps.groupby('State')['Star Rating for health team communicated well with them'].agg('mean').sort_values(ascending=False).head()

State
ME    4.650000
WV    4.647059
MS    4.636364
AL    4.507692
LA    4.487805
Name: Star Rating for health team communicated well with them, dtype: float64

In [9]:
answers['40.4'] = "ME"

## #05 - 

What was the average score on `Star Rating for how patients rated overall care from agency` for providers listed as having a `Type of Ownership` of `Hospital Based Program`

**NOTE: Enter your answer with two decimal precision: 0.00**

In [10]:
round(hhcaps[hhcaps['Type of Ownership']=='Hospital Based Program']['Star Rating for how patients rated overall care from agency'].mean(),2)

3.69

In [11]:
answers['40.5'] = "3.69"

---

Checking Your Work
---

After completing your work above and running each cell, you can check your answers by running the code below. 

The easiest way to do this is to use the `Kernel` -> `Restart Kernel and Run All Cells` menu option. This option restarts Python and runs every cell from top to bottom until it encounters an exception of some kind.  It will stop after running the cell below and outputing a summary of how many answers you have correct or incorrect.

In [12]:
import getpass
import boto3
import json

test = {
    "user": getpass.getuser(),
    "week": "week13",
    "answers": answers
}

client = boto3.client('lambda')

response = client.invoke(
    FunctionName="hds5210",
    InvocationType="RequestResponse",
    Payload=json.dumps(test))

result = json.loads(response['Payload'].read().decode('utf-8'))
# print(result)

try:
    print('{0:>5}{1:>20}{2:>10}'.format('Q#','Yours','Correct?'))
    for row in result.get('results'):
        print('{0:>5}{1:>20}{2:>10}'.format(str(row[0]),str(row[1]),str(row[2])))
except:
    print(result)

   Q#               Yours  Correct?
 40.1                  39        OK
 40.2                  55        OK
 40.3                  TX        OK
 40.4                  ME        OK
 40.5                3.69        OK

---

## Check your work above

If you didn't get them all correct, take a few minutes to think through those that aren't correct.


## Submitting Your Work

In order to submit your work, you'll need to use the `git` command line program to **add** your homework file (this file) to your local repository, **commit** your changes to your local repository, and then **push** those changes up to github.com.  From there, I'll be able to **pull** the changes down and do my grading.  I'll provide some feedback, **commit** and **push** my comments back to you.  Next week, I'll show you how to **pull** down my comments.

To run through everything one last time and submit your work:
1. Use the `Kernel` -> `Restart Kernel and Run All Cells` menu option to run everything from top to bottom and stop here.
2. Follow the instruction on the prompt below to either ssave and submit your work, or continue working.

If anything fails along the way with this submission part of the process, let me know.  I'll help you troubleshoort.

---

In [13]:
a=input('''
Are you ready to submit your work?
1. Click the Save icon (or do Ctrl-S / Cmd-S)
2. Type "yes" or "no" below
3. Press Enter

''')

if a=='yes':
    !git add week13_assignment_1.ipynb
    !git commit -a -m "Submitting the week 13 review exercises"
    !git push
else:
    print('''
    
OK. We can wait.
''')

Are you ready to submit your work?
1. Click the Save icon (or do Ctrl-S / Cmd-S)
2. Type "yes" or "no" below
3. Press Enter

 yes

[main 366a146] Submitting the week 13 review exercises
 1 file changed, 504 insertions(+)
 create mode 100644 week 13/week13_assignment_1.ipynb
Counting objects: 4, done.
Delta compression using up to 2 threads.
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 3.15 KiB | 3.15 MiB/s, done.
Total 4 (delta 1), reused 0 (delta 0)
remote: Resolving deltas: 100% (1/1), completed with 1 local object.
remote: This repository moved. Please use the new location:
remote:   git@github.com:Surya-Boppana/hds5210-2022.git
To github.com:surya-boppana/hds5210-2022.git
   e1e7890..366a146  main -> main